.main {
  width: 100%;
  position: relative;
  &__header {
    margin: 13px 19px 0 19px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #898290;
  }
  &__footer {
    margin-bottom: 20px;
  }
  &__body {
    margin: 83px 44px 0 47px;
  }
}

.button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  border-radius: 4px;
  &:hover {
    background: rgb(202, 202, 202);
  }
}
